.container-checkCard{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    cursor: default;
    font-family: 'Encode Sans', sans-serif;
}

.card-checkbox{
    width: 1200px;
    height: 136px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.card-checkbox-item{
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all .3s linear;
    color: rgb(53, 53, 53);
}

.card-checkbox-item:hover{
    transform: translateY(-3px);
    color: black;
}

.card-checkbox-item-title{
    font-size: 13px;
    align-items: center;
    letter-spacing: 0.1em;

}

.card-checkbox-item-content{
    font-size: 12px;
    text-align: center;
}

.iconCardCheck{
    color: green;
    transition: all .5s linear;
    margin-right: 5px;
}

.iconCardCheck:hover{
    color: rgb(47, 255, 47);
}

@media only screen and (max-width: 1200px){

    .card-checkbox{
        width: fit-content;
        height: fit-content;
        padding-top: 10px;

        margin: 15px;
    }

    .card-checkbox-item{
        width: 100%;
        padding: 5px;
    }
}