
.row-compare {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    text-align: center;
    
}

.column-compare {
    width: 50%;
    padding: 0 20px 0 20px;
}



.line{
    width:1px;
    height:250px;
    border:1px solid #C4C4C4;
}

.compare-h{
    font-size: 30px;
    color:#000000;
    font-weight: bold;
}   

.compare-p{
    padding: 50px 0 50px 0;
    font-size:18px;
    color:#857c7c;
    text-align: justify;
}

.correctMarginTop{
    margin-top: 18px;
}

.btn-compare:link,
.btn-compare:visited{
    padding: 15px 40px;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    display: inline-block;
    transition: all .5s;
    position: relative;
}

.btn-compare:hover {
    background-color: #0067CC;
    border: white;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); 
}

.btn-compare::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #0067CC;
    transition: all .4s;
}

.btn-compare:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}


@media only screen and (max-width: 600px){
    .compare-h{
        font-size: 27px;
    }
    .compare-p{
        font-size: 15px;
        padding: 25px 0 0 0;
    }

    .row-compare{
        display: inline-block;
        padding: 50px 10px 50px 10px;
    }
    .column-compare{
        width: 100%;
        padding: 10px;
    }

    .margin-both{
        margin-bottom: 40px;
    }
    .line{
        display: none;
    }

    .btn-compare:link,
    .btn-compare:visited{
        font-size: small;
    }
}