.container-modal-Info{
    width: 750px;
    text-align: center;
    background-color: white;
    padding: 10px 10px 10px 10px;
    position: relative;
}

.close-icon-card{
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 100%;
    cursor: pointer;
}

@media only screen and (max-width: 749px){
    .container-modal-Info{
        width: 100%;
    }
}