.container-pesquisa-master{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: #E5E5E5;
    padding: 30px;
    min-height: 50vh;
}

.btn-pesquisaml{
    padding: 15px, 30px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: #0067CC;
    border-style: solid;
    border: transparent;
    font-weight: bold;
    font-size: 18px;
}

.data-ml{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.data-ml-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 900px;
    margin-left: 50%;
    transform: translateX(-50%);
    border: solid 1px black;
}

.data-ml-row-title{
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}


.data-ml-row-content{
    font-size: 18px;
    margin-left: 15px;
}

.search-item{
    border-bottom: 1px solid black;
    cursor: pointer;
    padding: 5px;
    margin: 0px;
    transition: all .3s linear;
}

.search-item:hover{
    background-color: rgb(204, 204, 204);
}