.titleBox-modernizacao{
    width: 400px;
    position: absolute;
    left: 133px;
    margin-bottom: 50px;
}

.title-modenizacao{
    font-weight: bold;
    font-size: 56px;
    line-height: 68px;
    /* or 121% */

    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
}
.subtitle-modernizacao{
    font-size: 18px;
    line-height: 30px;
    /* or 167% */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
}

.textBox-modernizacao{
    padding: 150px;
    padding-bottom: 50px
}

.text-modernizacao{
    padding: 50px;
    padding-bottom: 0px;
    font-size: 21px;
    line-height: 30px;
    /* or 143% */

    letter-spacing: -0.015em;

    color: rgba(0, 0, 0, 0.8);
}

.destak{
    text-decoration: underline;
}

.container-modernizacao{
    padding-top: 80px;
}

@media only screen and (max-width: 1100px){
    .titleBox-modernizacao{
        width: 200px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .container-modernizacao{
        position: relative;
    }

    .title-modenizacao{
        font-size: 32px;
        line-height: 32px;
    }

    .subtitle-modernizacao{
        font-size: 18px;
    }

    .textBox-modernizacao{
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 50px;
    }

    .table-title{
        font-weight: bold;
        font-size: 20px;
        line-height: 36px;
        /* identical to box height, or 180% */

        text-align: center;

        color: #515151;
    }

    .table-item{
        font-size: 14px;
    }

    .container-table{
        border-style: solid;
        padding: 5px 5px 5px 5px;
        margin-bottom: 50px;
        font-size: 16px;
        line-height: 30px;
    }

    .text-modernizacao{
        padding: 0px;
    }

    .container-modernizacao{
        padding-top: 30px;
    }
}