.container-CoustCard{
    display: flex;
    justify-content: center;
}

.container-CoustCardRow{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 0px;
    cursor: default;
    width: 1200px;
    flex-wrap: wrap;
}
