.container-header{
    background:#0067CC;
    color: #FFFFFF;
    font-size:18px;
    display:flex;
}

.container-text{
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 60px;
    /*
    padding: 70px;
    margin-left: 80px;
    */
}

.container-text-typedEffect{
    font-size: 44px;
}

.subText{
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-h{
    color: white;
    border-radius: 30px;
    padding: 10px;
    text-decoration: none;
}

.btn-header-h{
    font-size: 16px;
    transition: all .9s;
    display: inline-block;
}

.btn-header-h:hover{
    border-style: solid;
    background-color: white;
    color: black;
    border: white;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.btn--animated {
    animation: moveInBottom 1s ease-out 1.5s;
    animation-fill-mode: backwards; 
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(-30px); 
    }
    
    100% {
        opacity: 1;
        transform: translate(0); 
    } 
}

.container-img{
    position: absolute;
    left: 50%;
    top: 37%;
    transform: translateX(-50%);
    transform: translateY((-50%))
}
.imgSize{
    height: 350px;
}

.verticalIcon{
    margin-left: 5px;
    vertical-align: -3px;
}

@media only screen and (max-width: 1100px){

    .container-header{
        font-size: 13px;
    }

    .container-img{
        display: none;
    }

    .container-text-typedEffect{
        font-size: 24px;
        width: 300px;
    }

    .container-text{
        padding: 10px;
        padding-top: 30px;
        padding-bottom: 20px;
    }


}