.bg-blue{
    /*
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    */
}

.logoBrand{
    width: 80px;
}

#navItem-color{
    transition: all .7s;
}

#navItem-color:hover{
    border-bottom:1px solid white;
}

@media only screen and (min-width: 1200px) {
    .justify-navItems{
        
        position: absolute;
        left: 55%;
        transform: translateX(-55%);
        width:80%;
        display:flex;
        justify-content:space-evenly;
        align-items:center;
    }

    .logoBrand{
        margin-left: 50px;
        margin-top: -10px;
    }
}
