.bg-blue{
    background-color: #0067CC;
    color: white;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.logoBrand{
    width: 80px;
    margin-left: 50px;
    margin-top: -10px;
}

.justify-navItems{
    position: absolute;
    left: 55%;
    transform: translateX(-55%);
    width:80%;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

#navItem-color{
    color: white;
    transition: all .7s;
    border-bottom:1px solid #0067CC;
}

#navItem-color:hover{
    border-bottom:1px solid white;
}

