.container-HeaderFooter{
    background:#FFFFFF;
    height:60px;
    align-content:center;
}

.row-partner{
    width: 50%;
    display: flex;
    justify-content: space-around;
}


@media only screen and (max-width: 600px){
    .container-HeaderFooter{
        
        display: inline-block;
        position: relative;
    }
    .partner-size{
        width: 80px;
    }

    .row-partner{
        width: 100%;
        display: flex;
    }

    .column-partner{
        padding: 5px;
    }


}