.container-formSimulacao-master{
    background-color: #E5E5E5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
}

.container-formSimulacao{
    padding: 50px;
    width: 80%;
}

.formLine{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.dados-title{
    margin-bottom: 30px;
    font-weight: bold;
}

.table-tarifa-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.resultadoSimulacaoContainer{
    font-family: 'Encode Sans', sans-serif;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.headerResultadoSimulacao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
}
.titleResultadoSimulacao{
    font-size: 44px;
    font-weight: bold;
    letter-spacing: 0.02em;

}

.headerLeft{
    display: flex;
    flex-direction: column;
}

.headerRight{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.logoSizeResultado{
    width: 89px;
    margin-left: 50%;
    transform: translateX(-50%);
    
}

.headerLeftContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;

}

.simulacaoName{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.headerLeftContentTitle{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-align: left;

}

.headerLeftContentSubTitle{
    font-size: 16px;
    letter-spacing: 0.1em;
    text-align: left;
    line-height: 5px;
}

.headerRightContentTitle{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;

    letter-spacing: 0.1em;
}
.headerRightContentSubTitle{
    font-size: 16px;
    letter-spacing: 0.1em;
}

.interTitle{
    margin-top: 110px;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.01em;
}

.containerResSimul{
    width: 1200px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    padding: 10px;
    margin-top: 24px;
}

.ResSimulTableTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.containerResSimulTitle{
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #EBEFF2;
    padding: 10px 20px;
}


.ResSimulTable{
    width: 172px;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.1em;
    
}
.ResSimulTableContent{
    text-align: center;
    width: 172px;
    font-size: 12px;
    letter-spacing: 0.1em;
}


@media only screen and (max-width: 1100px){
    .container-formSimulacao-master{
        padding-bottom: 50px;
        margin-bottom: 50px;
    }
    .dados-title{
        margin-bottom: 30px;
        font-weight: 500;
    }
}