.container-formSimulacao-master{
    background-color: #E5E5E5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
    font-family: 'Encode Sans', sans-serif;
}

.container-formSimulacao{
    padding: 50px;
    width: 80%;
}

.formLine{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.dados-title{
    margin-bottom: 30px;
    font-weight: bold;
}

.table-tarifa-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.resultadoSimulacaoContainer{
    font-family: 'Encode Sans', sans-serif;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.headerResultadoSimulacao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
}
.titleResultadoSimulacao{
    font-size: 44px;
    font-weight: bold;
    letter-spacing: 0.02em;

}

.headerLeft{
    display: flex;
    flex-direction: column;
}

.headerRight{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.logoSizeResultado{
    width: 89px;
    margin-left: 50%;
    transform: translateX(-50%);
    
}

.headerLeftContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;

}

.simulacaoName{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.headerLeftContentTitle{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-align: left;

}

.headerLeftContentSubTitle{
    font-size: 16px;
    letter-spacing: 0.1em;
    text-align: left;
    line-height: 5px;
}

.headerRightContentTitle{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;

    letter-spacing: 0.1em;
}
.headerRightContentSubTitle{
    font-size: 16px;
    letter-spacing: 0.1em;
}

.interTitle{
    margin-top: 110px;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.01em;
}

.containerResSimul{
    width: 1200px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    padding: 10px;
    margin-top: 24px;
}

.ResSimulTableTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.containerResSimulTitle{
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #EBEFF2;
    padding: 10px 20px;
    color: #192A3E;
}

.band-divis{
    display: flex;
    flex-direction: row;
}
.ResSimulTable{
    width: 172px;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.1em;
    
}

.ResSimulTableContent{
    text-align: center;
    width: 172px;
    font-size: 12px;
    letter-spacing: 0.1em;
}

.ResSimulTableContentB{
    font-size: 12px;
    letter-spacing: 0.1em;
    width: 80px;
    text-align: end;
}


.ResSimulTableContentA{
    width: fit-content;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-align: end;
}

.separarNum{
    width: 172px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.economia-box-line{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
}

.economia-box{
    width: 280px;
    height: 104px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    padding: 16px 24px;
    border-radius: 4px;

}
.ambLivreTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-economia-box{
    font-weight: 600;
    font-size: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    border-bottom: 1px solid #EBEFF2;
}

.economia-box-content-tent{
    font-size: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
}

.economia-box-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rodapeResSimul{
    width: 1180px;
    height: 48px;
    border-radius: 4px;
    margin-top: 24px;

    line-height: 0px;
    margin-bottom: -24px;
}

.rodapeResSimul-content{
    width: 1154px;
    height: 14px;
    font-size: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    line-height: 0px;
    color: #1C1C1C;
}

.ecoProjt{
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.01em;
    color: #646464;
    margin: 48px 0px 0px 0px;
}

.eco-anual-projetada{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
}

.graphEcoAcumu{
    display: flex;
    flex-direction: column;
    width: 580px;
    height: 408px;

    background: #FFFFFF;
    border-radius: 4px;
    padding: 22px 30px;
}

.pagTitle{
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #000000;
    padding-bottom: 25px;
    border-bottom: 1px solid #EEF0F7;
}

.energPrice{
    width: 580px;
    height: 194px;

    background: #FFFFFF;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 16px 24px 18px 24px;
}

.enerPriceRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.energPriceT{
    font-weight: 600;
    font-size: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;

    color: #000000;
}

.energPriceC{
    font-size: 12px;
    letter-spacing: 0.1em;
    color: #000000;
    
}

.energPriceC1{
    font-size: 12px;
    letter-spacing: 0.1em;
    color: #000000;
    width: fit-content;
    text-align: end;
}

.sideGraph{
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;

}

.globalEconomy{
    width: 580px;
    height: 194px;

    background: #FFFFFF;
    border-radius: 4px;
    padding: 16px 24px 18px 24px;
}

.globalRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.CoisasGlobal{
    width: 380px;
    height: 76px;

    background: #FFFFFF;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
}

.CoisasGlobal-title{
    font-weight: 600;
    font-size: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;

    color: #000000;
}

.CoisasGlobal-content{
    font-size: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;

    color: #000000;
    line-height: 0px;
}

.ecoGlobalValorPerc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.setSize{
    width: 200px;
}


@media only screen and (max-width: 1100px){
    .container-formSimulacao-master{
        padding-bottom: 50px;
        margin-bottom: 50px;
    }
    .dados-title{
        margin-bottom: 30px;
        font-weight: 500;
    }
}