.table-container{
    background-color: #E5E5E5;
}

.textBox-table{
    padding: 50px 150px 50px 150px;
    font-size: 21px;
    line-height: 30px;
}

.text-table{
    padding: 0px 50px 0px 50px;
    text-align: justify;
}

.table-box{
    padding: 0px 400px 0px 400px;
}

.table-column-ml{
    display: flex;
    flex-direction: column;
}

.table-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #CFE7FF;
    margin: 10px 0px;
    width: fit-content;
    align-items: center;
    line-height: 4px;
    padding: 0px 15px;
}

.table-item{
    text-align: center;
    font-weight: bold;
    width: 100px;
    margin: 0px;
}
.table-item-title{
    width: 300px;
    margin: 0px
}

@media only screen and (max-width: 1100px){
    .textBox-table{
        padding: 0px;
        font-size: 16px;
        line-height: 20px;
    }
    .table-container{
        padding: 30px 0 30px 0;
    }
    .table-box{
        padding: 30px;
    }
}