.clientInfo-container{
    display: flex;
    flex-direction: column;
    padding: 10px 0px 50px 130px;
    background-color: #E5E5E5;
    transform: scale(0.8);

}

.clientInfo-display-row{
    display: flex;
    flex-direction: row;
}

.clientInfo-display-column{
    display: flex;
    flex-direction: column;
}

.clientInfo-box-content{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 5px;
}

.clientInfo-title{
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 56px;


    color: #646464;
}

.iconClientInfo{
    margin-left: 10px;
    margin-bottom: 1px;
}

.clientInfo-box-content-title{
    font-weight: 600;
    font-size: 22px;
    line-height: 0px;
    line-height: 0px;
    color: #000000;
}

.clientInfo-box-content-subtitle{
    font-weight: normal;
    font-size: 16px;
    line-height: 56px;
    color: #000000;
}



@media only screen and (max-width: 600px){

    .clientInfo-display-row{
        flex-wrap: wrap;
    }
    .clientInfo-container{
        padding: 0px;
        margin-top: 30px;
        text-align: center;
        flex-wrap: wrap;
        transform: scale(1);
    }

    .clientInfo-box-content{
        width: 100%;
        margin-top: 30px;
    }

    .clientInfo-box-content-title{
        font-weight: 600;
        font-size: 22px;
        line-height: 0px;
        letter-spacing: 0px;
    }

    .clientInfo-box-content-subtitle{
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
    }

    .clientInfo-title{
        text-align: center;
    }

    .down-box{
        justify-content: center;
    }


}