.clientInfo-container{
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
    font-family: Encode Sans;

}

.clientInfo-display-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 10px 0px;
}

.clientInfo-display-column{
    display: flex;
    flex-direction: column;
    
}

.clientInfo-box-content{
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 5px;
    margin-right: 30px;
}

.clientInfo-title{
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    color: #646464;
    margin-top: 93px;
    margin-left: 130px;
}

.iconClientInfo{
    margin-left: 10px;
    margin-bottom: 1px;
}

.clientInfo-box-content-title{
    font-weight: 600;
    font-size: 12px;
    line-height: 0px;
    letter-spacing: 0.1em;
    color: #000000;
    text-transform: uppercase;
}

.clientInfo-box-content-subtitle{
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.1em;
    align-items: center;
    color: #000000;
}

.clientInfo-avatar-container{
    display: flex;
    flex-direction: column;
    
}

.imgSizeAvatar{
    width: 135px;
}

.editAvatar{
    margin-top: 5px;
    border: none;
    background-color: transparent;
}

.down-box{
    justify-content: space-between;
    padding-right: 20px;
}

@media only screen and (max-width: 1350px){
    .clientInfo-display-row{
        justify-content: space-between;
        padding-left: 30px;
    }
}


@media only screen and (max-width: 600px){

    .clientInfo-display-row{
        flex-wrap: wrap;
    }
    .clientInfo-container{
        padding: 0px;
        margin-top: 30px;
        text-align: center;
        flex-wrap: wrap;
        transform: scale(1);
    }

    .clientInfo-box-content{
        width: 100%;
        margin-top: 30px;
    }

    .clientInfo-box-content-title{
        font-weight: 600;
        font-size: 22px;
        line-height: 0px;
        letter-spacing: 0px;
    }

    .clientInfo-box-content-subtitle{
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
    }

    .clientInfo-title{
        text-align: center;
    }

    .down-box{
        justify-content: center;
    }


}